<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes do relevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-page-invisible]="loading">
  <div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
    <ion-img id="favorite"
           (click)="favorite(relief, favRelief)"
           [src]="'./assets/favorite-button-blue-'+(favRelief?'on':'off')+'.svg'"
           class="clickable"></ion-img>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
      <ion-label class="object-name">{{relief?.get('name')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/pin.svg"></ion-img>
      <ion-label>{{relief?.get('location')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/calendar.svg"></ion-img>
      <ion-label>Registrado em {{relief?.get('createdAt')?.getDate()}}/{{relief?.get('createdAt')?.getMonth() < 10 ? '0' + relief?.get('createdAt')?.getMonth() : relief?.get('createdAt')?.getMonth()}}/{{relief?.get('createdAt')?.getFullYear()}}</ion-label>
    </ion-row>

    <!--<ion-row class="infos vertical-align-content ion-padding-start">
      <ion-label class="tag">Classe de relevo</ion-label>
      <ion-label>{{relief?.get('reliefType')?.get('myClass').get('name')}}</ion-label>
    </ion-row> !-->

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Tipo de relevo</ion-label>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-label>{{relief?.get('reliefType')?.get('name')}}</ion-label>
    </ion-row>

    <ion-row *ngIf="relief?.get('description')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Descrição</ion-label>
    </ion-row>
    <ion-row *ngIf="relief?.get('description')" class="ion-padding-horizontal">
      <ion-label>{{relief?.get('description')}}</ion-label>
    </ion-row>
  </div>
</ion-content>
