<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes do inseto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
    <ion-img id="favorite"
           (click)="favorite(insect, favInsect)"
           [src]="'./assets/favorite-button-blue-'+(favInsect?'on':'off')+'.svg'"
           class="clickable"></ion-img>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
      <ion-label class="object-name">{{insect?.get('name')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/pin.svg"></ion-img>
      <ion-label>{{insect?.get('location')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/calendar.svg"></ion-img>
      <ion-label>Registrado em {{insect?.get('createdAt')?.getDate()}}/{{insect?.get('createdAt')?.getMonth() < 10 ? '0' + insect?.get('createdAt')?.getMonth() : insect?.get('createdAt')?.getMonth()}}/{{insect?.get('createdAt')?.getFullYear()}}</ion-label>
    </ion-row>

    <ion-row *ngIf="insect?.get('wings')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Asas</ion-label>
    </ion-row>
    <ion-row *ngIf="insect?.get('wings')" class="ion-padding-horizontal">
      <ion-label>{{insect?.get('wings')}}</ion-label>
    </ion-row>

    <ion-row *ngIf="insect?.get('exoskeleton')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Exoesqueleto</ion-label>
    </ion-row>
    <ion-row *ngIf="insect?.get('exoskeleton')" class="ion-padding-horizontal">
      <ion-label>{{insect?.get('exoskeleton')}}</ion-label>
    </ion-row>

    <ion-row *ngIf="insect?.get('parts')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Descrição</ion-label>
    </ion-row>
    <ion-row *ngIf="insect?.get('parts')" class="ion-padding-horizontal">
      <ion-label>{{insect?.get('parts')}}</ion-label>
    </ion-row>
  </div>
</ion-content>
