<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="modal.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar inseto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <div class="custom-double-padding-horizontal custom-double-margin-top">
      <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
        <ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
         </ion-row>
      <ion-row class="ion-padding-top">
        <ion-label>Nome</ion-label>
        <ion-item class="fields select-info ion-margin-top" lines="none">
          <ion-input id="name" formControlName="name" maxlength="300" placeholder="Nome do inseto"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-label >Asas</ion-label>
        <ion-item class="fields select-info ion-margin-top" lines="none">
          <ion-label [hidden]="true">Asas</ion-label>

          <ion-input id="wings" maxlength="300" formControlName="wings" placeholder="Caso tenha, descreva as asas"></ion-input>
        </ion-item>
      </ion-row>
    </div>

    <ion-row class="custom-double-padding-horizontal ion-padding-top">
      <ion-label>Exoesqueleto</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-label [hidden]="true">Exoesqueleto</ion-label>

        <ion-input id="exoskeleton" maxlength="300" formControlName="exoskeleton" placeholder="Caso tenha, descreva o exoesqueleto"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="custom-double-padding-horizontal ion-padding-top">
      <ion-label>Abdômen, cabeça e tórax</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-label [hidden]="true">Abdômen, cabeça e tórax</ion-label>

        <ion-input id="parts" maxlength="300" formControlName="parts" placeholder="Descreva as cracterísticas (opcional)"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
      <ion-col class="ion-no-padding">
        <ion-button id="add-insect" [disabled]="!form.valid || disableButton" (click)="addInsect()" class="default-btn" color="primary" expand="block">
          Adicionar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
