<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="modal.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar relevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
    <ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
     </ion-row>

  <div class="custom-double-padding-horizontal custom-double-margin-top">
    <ion-row [formGroup]="form" class="ion-padding-top">
      <ion-label>Nome</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-input formControlName="name" maxlength="300" placeholder="Nome do relevo"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="ion-padding-top">Tipo de relevo</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-label [hidden]="true">Tipo de relevo</ion-label>
        <ion-select [(ngModel)]="reliefClass" (ionChange)="getReliefs()" interface="popover" class="ion-no-padding" id="gender" placeholder="Selecione o tipo de relevo">
          <ion-label>Tipo de relevo</ion-label>
          <ion-select-option *ngFor="let item of classes"
                             [value]="item">{{item?.get('name')}}</ion-select-option>
        </ion-select>
        <ion-img [src]="'./assets/arrow-down-2.svg'" class="arrow"></ion-img>
      </ion-item>
    </ion-row>
  </div>

  <ion-row class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Relevo</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-label [hidden]="true">Relevo</ion-label>
      <ion-select  [(ngModel)]="chosenRelief" interface="popover" class="ion-no-padding" id="anima" placeholder="Escolha o relevo">
        <ion-label>Relevo</ion-label>
        <ion-select-option *ngFor="let item of reliefs"
                           [value]="item">{{item?.get('name')}}</ion-select-option>
      </ion-select>
      <ion-img [src]="'./assets/arrow-down-2.svg'" class="arrow"></ion-img>
    </ion-item>
  </ion-row>

  <ion-row [formGroup]="form" class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Descrição</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-input formControlName="description" maxlength="500" placeholder="Descreva o relevo (opcional)"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
    <ion-col class="ion-no-padding">
      <ion-button [disabled]="disableButton || !form.valid" (click)="addRelief()" class="default-btn" color="primary" expand="block">
        Adicionar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
