<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes da árvore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-page-invisible]="loading">
  <div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
    <ion-img id="favorite"
             (click)="favorite(tree, favTree)"
             [src]="'./assets/favorite-button-blue-'+(favTree?'on':'off')+'.svg'"
             class="clickable"></ion-img>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
      <ion-label class="object-name">{{tree?.get('name')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/pin.svg"></ion-img>
      <ion-label>{{tree?.get('location')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/calendar.svg"></ion-img>
      <ion-label>Registrado em {{tree?.get('createdAt')?.getDate()}}/{{tree?.get('createdAt')?.getMonth() < 10 ? '0' + tree?.get('createdAt')?.getMonth() : tree?.get('createdAt')?.getMonth()}}/{{tree?.get('createdAt')?.getFullYear()}}</ion-label>
    </ion-row>

    <ion-row *ngIf="tree?.get('topShape')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Forma da copa</ion-label>
    </ion-row>
    <ion-row *ngIf="tree?.get('topShape')" class="ion-padding-horizontal">
      <ion-label>{{tree?.get('topShape')}}</ion-label>
    </ion-row>

    <ion-row *ngIf="tree?.get('leafShape')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Forma da folha</ion-label>
    </ion-row>
    <ion-row *ngIf="tree?.get('leafShape')" class="ion-padding-horizontal">
      <ion-label>{{tree?.get('leafShape')}}</ion-label>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Frutífera</ion-label>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-label>{{tree?.get('fruitful') == true ? 'Sim' : 'Não'}}</ion-label>
    </ion-row>
  </div>
</ion-content>
