<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="modal.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar edifício</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [formGroup]="form" class="custom-double-padding-horizontal custom-double-margin-top ">

    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
       </ion-row>


    <ion-row class="ion-padding-top">
      <ion-label>Nome</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-input id="name" formControlName="name" maxlength="300" placeholder="Nome do edifício"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-label class="ion-margin-top">Descrição (opcional)</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-label [hidden]="true">Descrição (opcional)</ion-label>
        <ion-input id="description" maxlength="500" formControlName="description" placeholder="Forneça detalhes relevantes"></ion-input>
      </ion-item>
    </ion-row>
  </div>

  <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
    <ion-col class="ion-no-padding">
      <ion-button id="add-building" (click)="addBuilding()" [disabled]="!form.valid || disableButton" class="default-btn" color="primary" expand="block">
        Adicionar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
