<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/tab3" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="form">
  <form class="ion-padding-top">
    <ion-list [formGroup]="form" class="custom-double-padding-horizontal">
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input formControlName="email" id="email" placeholder="Email do usuário">
          </ion-input>
        </ion-item>
      </ion-row>
      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div *ngIf="form?.get('email')?.hasError(validation.type) && (form?.get('email')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>    
    </ion-list>
  </form>

  <div *ngFor="let user of addedUsers; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">
    <ion-item-sliding #item>
        <ion-item>
            <ion-row class="ion-align-items-center" style="  justify-content: end; display: contents;">
                <ion-col size="2">
                  <ngx-avatar [name]="user.get('name')"></ngx-avatar>
                </ion-col>
                <ion-col class="middle-col" col-auto>
                    <ion-row class=" vertical-align-content ion-padding-start">
                        <ion-label>{{user?.get('name')}}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col class="last-col">
                  <ion-icon (click)="deleteUser(user, i)" color="danger" name="close-circle-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>

        
    </ion-item-sliding>
    
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="add()"
                class="default-btn"
                color="primary"
                expand="block">
      Adicionar usuário
    </ion-button>
  </ion-toolbar>
</ion-footer>
