<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes de {{custom?.get('class').get('name')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
    <ion-img id="favorite"
             (click)="favorite(custom, favCustom)"
             [src]="'./assets/favorite-button-blue-'+(favCustom?'on':'off')+'.svg'"
             class="clickable"></ion-img>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
      <ion-label class="object-name">{{custom?.get('name')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/pin.svg"></ion-img>
      <ion-label>{{custom?.get('location')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/calendar.svg"></ion-img>
      <ion-label>Registrado em {{custom?.get('createdAt')?.getDate()}}/{{custom?.get('createdAt')?.getMonth() < 10 ? '0' + custom?.get('createdAt')?.getMonth() : custom?.get('createdAt')?.getMonth()}}/{{custom?.get('createdAt')?.getFullYear()}}</ion-label>
    </ion-row>

    <ion-row *ngIf="custom?.get('description')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Descrição</ion-label>
    </ion-row>
    <ion-row *ngIf="custom?.get('description')" class="ion-padding-horizontal">
      <ion-label>{{custom?.get('description')}}</ion-label>
    </ion-row>
  </div>
</ion-content>

