<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Recuperar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="form">
  <form class="ion-padding-top">
    <ion-list [formGroup]="form" class="custom-double-padding-horizontal">
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input formControlName="email" id="email" placeholder="Email para recuperação">
          </ion-input>
        </ion-item>
      </ion-row>
      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div *ngIf="form?.get('email')?.hasError(validation.type) && (form?.get('email')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>    
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="resetPassword()"
                class="default-btn"
                color="primary"
                expand="block">
      Recuperar senha
    </ion-button>
  </ion-toolbar>
</ion-footer>

