.infos {

  ion-label {
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
    padding: 0 2vw;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

ion-col {
  //text-wrap: ;
}

ion-row {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.last-col {
  display: contents;
}

.middle-col {
  width: 1%;
}

.refresh{
  margin-right: 16px;
  width: 25px;
  height: 25px;
  color:#fff;
}