<ion-header>
    <ion-toolbar class="linear-background">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-buttons (click)="ngOnInit()" slot="end">
            <ion-icon class="refresh" name="refresh-outline"></ion-icon>
        </ion-buttons>
            <ion-title class="header-title">Ambiente</ion-title>
        </ion-toolbar>
    </ion-header>
<ion-content  id="main">
    <app-location-tag></app-location-tag>
        <ion-row *ngIf="animals?.length == 0 && buildings?.length == 0 && trees?.length == 0 && bugs?.length == 0 && reliefs?.length == 0 && customObjects?.length == 0" class="vertical-center custom-double-padding-horizontal">
            <ion-col>
                <div class="ion-justify-content-center">
                    <ion-img src="assets/empty.png"></ion-img>
                </div>
                <p class="custom-double-padding-horizontal" style="display: flex; align-items: center; justify-content: center;">Você ainda não adicionou nenhum elemento</p>
            </ion-col>
        </ion-row>



    <div [class.ion-page-invisible]="loading">
        <div *ngFor="let animal of animals; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">
            <ion-item-sliding #item>
                <ion-item (click)="animalDetail(animal.id)">
                    <ion-row class="ion-align-items-center" style="  justify-content: end;">
                        <ion-col size="2">
                            <ion-img [src] = "'./assets/paws.svg'" class="element-icon"></ion-img>
                        </ion-col>
                        <ion-col class="middle-col" col-auto>
                            <ion-row class=" vertical-align-content ion-padding-start">
                                <ion-label>{{animal?.get('name')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/pin.svg"></ion-img>
                                <ion-label>{{animal?.get('location')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/calendar.svg"></ion-img>
                                <ion-label>{{animal?.get('createdAt')?.getDate()}}/{{animal?.get('createdAt')?.getMonth() < 10 ? '0' + animal?.get('createdAt')?.getMonth() : animal?.get('createdAt')?.getMonth()}}/{{animal?.get('createdAt')?.getFullYear()}}</ion-label>
                            </ion-row>
                        </ion-col>
                        <ion-col class="last-col">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>

                <ion-item-options side="end">
                    <ion-button (click)="deleteAnimal(animal, i)" color="danger">Apagar</ion-button>
                  </ion-item-options>
            </ion-item-sliding>
            
        </div>
        <div *ngFor="let tree of trees; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">

            <ion-item-sliding>
                <ion-item (click)="treeDetail(tree.id)">
                    <ion-row class="ion-align-items-center" style="  justify-content: end;">
                        <ion-col size="2">
                            <ion-img [src] = "'./assets/tree.svg'" class="element-icon"></ion-img>
                        </ion-col>
                        <ion-col class="middle-col" col-auto>
                            <ion-row class=" vertical-align-content ion-padding-start">
                                <ion-label>{{tree?.get('name')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/pin.svg"></ion-img>
                                <ion-label>{{tree?.get('location')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/calendar.svg"></ion-img>
                                <ion-label>{{tree?.get('createdAt')?.getDate()}}/{{tree?.get('createdAt')?.getMonth() < 10 ? '0' + tree?.get('createdAt')?.getMonth() :
                                    tree?.get('createdAt')?.getMonth()}}/{{tree?.get('createdAt')?.getFullYear()}}</ion-label>
                            </ion-row>
                        </ion-col>
                        <ion-col class="last-col">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>

                <ion-item-options side="end">
                    <ion-button (click)="deleteTree(tree, i)" color="danger">Apagar</ion-button>
                  </ion-item-options>
            </ion-item-sliding>
        </div>

        <div *ngFor="let build of buildings; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">

           <ion-item-sliding #item>
            <ion-item (click)="buildDetail(build.id)">
                <ion-row class="ion-align-items-center" style="  justify-content: end;">
                    <ion-col size="2">
                        <ion-img [src] = "'./assets/building.svg'" class="element-icon"></ion-img>
                    </ion-col>
                    <ion-col class="middle-col" col-auto>
                        <ion-row class=" vertical-align-content ion-padding-start">
                            <ion-label>{{build?.get('name')}}</ion-label>
                        </ion-row>
                        <ion-row class="infos vertical-align-content ion-padding-start">
                            <ion-img src="assets/pin.svg"></ion-img>
                            <ion-label>{{build?.get('location')}}</ion-label>
                        </ion-row>
                        <ion-row class="infos vertical-align-content ion-padding-start">
                            <ion-img src="assets/calendar.svg"></ion-img>
                            <ion-label>{{build?.get('createdAt')?.getDate()}}/{{build?.get('createdAt')?.getMonth() < 10 ? '0' + build?.get('createdAt')?.getMonth() :
                                build?.get('createdAt')?.getMonth()}}/{{build?.get('createdAt')?.getFullYear()}}</ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col class="last-col">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="end">
                <ion-button (click)="deleteBuilding(build, i)" color="danger">Apagar</ion-button>
              </ion-item-options>
           </ion-item-sliding>
        </div>
        <div *ngFor="let bug of bugs; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">

           <ion-item-sliding #item>
            <ion-item (click)="bugDetail(bug.id)">
                <ion-row class="ion-align-items-center" style="  justify-content: end;">
                    <ion-col size="2">
                        <ion-img [src] = "'./assets/bugs.svg'" class="element-icon"></ion-img>
                    </ion-col>
                    <ion-col col-auto class="middle-col">
                        <ion-row class=" vertical-align-content ion-padding-start">
                            <ion-label>{{bug?.get('name')}}</ion-label>
                        </ion-row>
                        <ion-row class="infos vertical-align-content ion-padding-start">
                            <ion-img src="assets/pin.svg"></ion-img>
                            <ion-label>{{bug?.get('location')}}</ion-label>
                        </ion-row>
                        <ion-row class="infos vertical-align-content ion-padding-start">
                            <ion-img src="assets/calendar.svg"></ion-img>
                            <ion-label>{{bug?.get('createdAt')?.getDate()}}/{{bug?.get('createdAt')?.getMonth() < 10 ? '0' + bug?.get('createdAt')?.getMonth() :
                                bug?.get('createdAt')?.getMonth()}}/{{bug?.get('createdAt')?.getFullYear()}}</ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col class="last-col">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item-options side="end">
                <ion-button (click)="deleteInsect(bug, i)" color="danger">Apagar</ion-button>
              </ion-item-options>
           </ion-item-sliding>
        </div>
        <div *ngFor="let relief of reliefs; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">

            <ion-item-sliding #item>
                <ion-item (click)="reliefDetail(relief.id)">
                    <ion-row class="ion-align-items-center" style="  justify-content: end;">
                        <ion-col size="2">
                            <ion-img [src] = "'./assets/mountain.svg'" class="element-icon"></ion-img>
                        </ion-col>
                        <ion-col class="middle-col" col-auto>
                            <ion-row class=" vertical-align-content ion-padding-start">
                                <ion-label>{{relief?.get('name')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/pin.svg"></ion-img>
                                                            <ion-label>{{relief?.get('location')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/calendar.svg"></ion-img>
                                <ion-label>{{relief?.get('createdAt')?.getDate()}}/{{relief?.get('createdAt')?.getMonth() < 10 ? '0' + relief?.get('createdAt')?.getMonth() :
                                    relief?.get('createdAt')?.getMonth()}}/{{relief?.get('createdAt')?.getFullYear()}}</ion-label>
                            </ion-row>
                        </ion-col>
                        <ion-col class="last-col">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options side="end">
                    <ion-button color="danger" (click)="deleteRelief(relief, i)">Apagar</ion-button>
                  </ion-item-options>
            </ion-item-sliding>
        </div>

        <div *ngFor="let custom of customObjects; let i = index" class="custom-double-margin-top custom-double-padding-horizontal">

            <ion-item-sliding #item>
                <ion-item (click)="customDetail(custom.id)">
                    <ion-row class="ion-align-items-center" style="  justify-content: end;">
                        <ion-col size="2">
                            <ion-img [src]="custom.get('type') == 0 ? './assets/tree.svg' : (
                        custom.get('type') == 1 ? './assets/mountain.svg' : (
                          custom.get('type') == 2 ? './assets/bugs.svg' : (
                            custom.get('type') == 3 ? './assets/storm.svg' : (
                              custom.get('type') == 4 ? './assets/leaf.svg' : (
                                custom.get('type') == 5 ? './assets/flower.svg' : (
                                  custom.get('type') == 6 ? './assets/hike.svg' : (
                                    custom.get('type') == 7 ? './assets/waterfall.svg' : (
                                      custom.get('type') == 8 ? './assets/river.svg' : (
                                        custom.get('type') == 9 ? './assets/building.svg' : (
                                          custom.get('type') == 10 ? './assets/fish.svg' : (
                                            custom.get('type') == 11 ? './assets/home.svg' : ''
                                          )
                                        )
                                      )
                                    )
                                  )
                                )
                              )
                            )
                          )
                        )
                      )" class="custom-icon ion-no-padding ion-no-margin"></ion-img>
                        </ion-col>
                        <ion-col class="middle-col" col-auto>
                            <ion-row class=" vertical-align-content ion-padding-start">
                                <ion-label>{{custom?.get('name')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/pin.svg"></ion-img>
                                                            <ion-label>{{custom?.get('location')}}</ion-label>
                            </ion-row>
                            <ion-row class="infos vertical-align-content ion-padding-start">
                                <ion-img src="assets/calendar.svg"></ion-img>
                                <ion-label>{{custom?.get('createdAt')?.getDate()}}/{{custom?.get('createdAt')?.getMonth() < 10 ? '0' + custom?.get('createdAt')?.getMonth() :
                                    custom?.get('createdAt')?.getMonth()}}/{{custom?.get('createdAt')?.getFullYear()}}</ion-label>
                            </ion-row>
                        </ion-col>
                        <ion-col class="last-col">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options side="end">
                    <ion-button (click)="deleteCustom(custom, i)" color="danger">Apagar</ion-button>
                  </ion-item-options>
            </ion-item-sliding>
        </div>
    </div>
</ion-content>
