<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'tab1'">Ambiente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'tab5'">Social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="calendar"></ion-icon>
      <ion-label *ngIf="selectedTab == 'tab4'">Registros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart"></ion-icon>
      <ion-label *ngIf="selectedTab == 'tab2'">Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label *ngIf="selectedTab == 'tab3'">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
