<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Sobre o Tempus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top ">
    <ion-label class="tag">Tempus é um aplicativo para registro de informações com o intuito de auxiliar a prática da ciência cidadã e nos estudos de campo, das áreas de Biologia, Ecologia e Geologia.</ion-label>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Registre objetos, adicione descrições e até mesmo crie categorias personalizadas para os objetos que quiser registrar.</ion-label>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Tempus, registre o momento :)</ion-label>
    </ion-row>
</ion-content>

