<ion-content class="linear-background" #content>
    <ion-row class="vertical-center custom-double-padding-horizontal">
        <ion-col>
            <p class="title">TEMPUS</p>
            <p class="subtitle">Registre o momento</p>
        </ion-col>
    </ion-row>

    <ion-list class="login-fields custom-double-padding-horizontal">
        <ion-grid [formGroup]="form" class="ion-no-padding">
            <ion-row>
                <ion-item class="ion-no-padding">
                    <ion-input formControlName="email" id="email" name="email" placeholder="E-mail" size="30"
                               type="email">
                    </ion-input>
                </ion-item>
                <ion-text>
                    <div>
                        <ng-container *ngFor="let validation of validationMessages.email">
                            <div id="email-error" *ngIf="form?.get('email')?.hasError(validation.type) && (form?.get('email')?.dirty)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-text>
            </ion-row>

            <ion-row class="ion-padding-top custom-double-padding-bottom">
                <ion-item class="ion-no-padding">
                    <ion-input formControlName="password" id="password" name="password" placeholder="Senha" size="30"
                               type="password">
                    </ion-input>
                </ion-item>
                <ion-text>
                    <div>
                        <ng-container *ngFor="let validation of validationMessages.password">
                            <div id="password-error" *ngIf="form?.get('password')?.hasError(validation.type) && (form?.get('password')?.dirty)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-text>
            </ion-row>

            <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
                <ion-col class="ion-no-padding">
                    <ion-button (click)="enter()" class="default-btn" color="secondary" expand="block">
                        Login
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>

<ion-footer id="options" class="ion-no-border">
    <ion-toolbar class="footer-links">
        <ion-text id="register-tag" slot="start" (click)="goPage('/register')" class="register clickable">Cadastre-se</ion-text>
        <ion-text id="about-tag" slot="end" (click)="goPage('/forgot-password')" class="forgot-pass clickable">Recuperar senha
        </ion-text>
    </ion-toolbar>
</ion-footer>

