.title {
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

ion-list {
  background: transparent;
}

ion-item {
  --ion-background-color: transparent;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  width: 100%;
  --border-color: #FFFFFF;
  color: #FFFFFF;
}

.footer-links {
  --font-size: 14px;
  --font-weight: bolder;
  --line-height: 14px;
  --color: #fff;

  .register {
    margin-left: 0.5rem;
  }

  .forgot-pass {
    margin-right: 0.5rem;
  }
}

ion-footer#options {
  ion-toolbar {
    --background: #41b3db;
    height: 100%;
    padding: 0 !important;
    &.footer-md::before {
      background-image: none !important;
    }
    &.footer-ios::before {
      background-image: none !important;
    }
  }
}

button {
  outline: none !important;
}


