<ion-app>
  <ion-menu (ionDidOpen)="fetchCategories()" side="start" menuId="first" contentId="content1">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <div class="custom-double-padding-left">
            <ion-grid class="custom-grid">
              <ion-row style="flex-grow: 1" class="ion-align-items-center">
                <ion-col col-6>
                  <div>
                    <ion-img (click)="takeAnimalPicture()" [src]="'./assets/paws.svg'" class="element-icon"></ion-img>
                    <ion-text class="element-tag">Animal</ion-text>
                  </div>
                </ion-col>
                <ion-col (click)="takeReliefPicture()" col-6>
                 <div>
                   <ion-img [src]="'./assets/mountain.svg'" class="element-icon"></ion-img>
                   <ion-text class="element-tag">Relevo</ion-text>
                 </div>
                </ion-col>
                <ion-col (click)="takeBugPicture()" col-6>
                <div>
                  <ion-img [src]="'./assets/bugs.svg'" class="element-icon"></ion-img>
                  <ion-text class="element-tag">Inseto</ion-text>
                </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="takeBuildingPicture()">
                  <div>
                    <ion-img [src]="'./assets/building.svg'" class="element-icon"></ion-img>
                    <ion-text class="element-tag">Edifício</ion-text>
                  </div>
                </ion-col>
                <ion-col (click)="takeTreePicture()">
                  <div>
                    <ion-img [src]="'./assets/tree.svg'" class="element-icon"></ion-img>
                    <ion-text class="element-tag">Árvore</ion-text>
                  </div>
                </ion-col>
                
              </ion-row>
              
             <ion-row *ngIf="customCategories?.length > 0" class="ion-padding-vertical">
               <ion-label class="custom-label">Personalizadas por você</ion-label>
             </ion-row>
             <div>
              <ion-row class="magic-row">
                <div (click)="takeCustomImage(custom.id)" style="width: 100px; height: 100px;" *ngFor="let custom of customCategories">
                  <div >
                    <ion-img [src]="custom.get('type') == 0 ? './assets/tree.svg' : (
                    custom.get('type') == 1 ? './assets/mountain.svg' : (
                      custom.get('type') == 2 ? './assets/bugs.svg' : (
                        custom.get('type') == 3 ? './assets/storm.svg' : (
                          custom.get('type') == 4 ? './assets/leaf.svg' : (
                            custom.get('type') == 5 ? './assets/flower.svg' : (
                              custom.get('type') == 6 ? './assets/hike.svg' : (
                                custom.get('type') == 7 ? './assets/waterfall.svg' : (
                                  custom.get('type') == 8 ? './assets/river.svg' : (
                                    custom.get('type') == 9 ? './assets/building.svg' : (
                                      custom.get('type') == 10 ? './assets/fish.svg' : (
                                        custom.get('type') == 11 ? './assets/home.svg' : ''
                                      )
                                    )
                                  )
                                )
                              )
                            )
                          )
                        )
                      )
                    )
                  )" class="custom-icon ion-no-padding ion-no-margin"></ion-img>
                  <ion-text class="element-tag">{{custom.get('name')}}</ion-text>
                  </div>
                </div>
              </ion-row>
             </div>
               
                    
                 
            </ion-grid>
          </div>
        </ion-menu-toggle>
      </ion-list>

      <ion-row class="ion-no-padding custom-double-padding-top ion-padding-horizontal">
        <ion-col class="ion-no-padding">
          <ion-button (click)="addCustom(1)" class="default-btn" color="primary" expand="block">
            Criar categoria personalizada
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
