.element-icon {
  width: 50%;
  height: 50%;

}

.element-tag {
  font-size: 15px;
  text-align: center;
}

.custom-grid {
  display: flex;
  flex-flow: column;
}

.custom-icon {
  width: 50%;
}

.custom-label {
  font-size: 20px;
  color: #41b3db;
}

.magic-row {
  display: flex;
    justify-content: center;
    align-items: center;
}
