<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="form">
  <form class="ion-padding-top">
    <ion-list [formGroup]="form" class="custom-double-padding-horizontal">
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input (keyup)="utils.onKeyUp($event, form, 'name')" (keyup.enter)="moveFocus(b)" formControlName="name" id="name" placeholder="Nome">
          </ion-input>
        </ion-item>
      </ion-row>
      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.name">
            <div *ngIf="form?.get('name')?.hasError(validation.type) && (form?.get('name')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input (keyup.enter)="moveFocus(c)" #b formControlName="email" maxlength="500" placeholder="E-mail" type="email"></ion-input>
        </ion-item>
      </ion-row>

      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div *ngIf="form?.get('email')?.hasError(validation.type) && (form?.get('email')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input (keyup.enter)="moveFocus(d)" #c formControlName="password" placeholder="Senha" type="password"></ion-input>
        </ion-item>
      </ion-row>

      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.password">
            <div *ngIf="form?.get('password')?.hasError(validation.type) && (form?.get('password')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>
      <ion-row>
        <ion-item class="fields ion-margin-top" lines="none">
          <ion-input (keyup.enter)="checkData()" #d formControlName="confirmPassword" placeholder="Confirmar senha"
                     type="password"></ion-input>
        </ion-item>
      </ion-row>

      <ion-text>
        <div>
          <ng-container *ngFor="let validation of validationMessages.confirmPassword">
            <div *ngIf="form?.get('confirmPassword')?.hasError(validation.type) && (form?.get('confirmPassword')?.dirty)"
                 class="error-message">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-text>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="checkData()"
                class="default-btn"
                color="primary"
                expand="block">
      Cadastrar
    </ion-button>
  </ion-toolbar>
</ion-footer>

