<ion-row id="place" [hidden]="notFound">
  <ion-col *ngIf="place" class="ion-text-center">
    <svg-icon class="pin-1" src="assets/pin.svg"></svg-icon>
    <ion-label id="location" [innerText]="' Você está em ' + place"></ion-label>
  </ion-col>
</ion-row>
