<ion-header>
  <ion-toolbar class="linear-background">
    <ion-title class="header-title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
    <ngx-avatar [name]="user.get('name')"></ngx-avatar>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <p class="toggle-label">{{user?.get('name')}}</p>
  </ion-row>

  <ion-list class="ion-no-padding">
    
    <ion-row  class="ion-activatable ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item (click)="addUser()" class="ion-no-padding">
          <div class="ion-padding-start">
            <ion-icon style="color: #41b3db;" name="add-circle"></ion-icon>
          </div>
          <ion-label class="custom-mid-padding-vertical toggle-label ion-padding-start">Adicionar usuário</ion-label>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
    
    <ion-row  class="ion-activatable ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item (click)="goToPage()" class="ion-no-padding">
          <div class="ion-padding-start">
            <ion-icon style="color: #41b3db;" name="information-circle-outline"></ion-icon>
          </div>
          <ion-label class="custom-mid-padding-vertical toggle-label ion-padding-start">Sobre</ion-label>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.user" class="ion-activatable ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item class="ion-no-padding" (click)="logOut()">
          <svg-icon class="ion-padding-start" src="assets/logoff.svg"></svg-icon>
          <ion-label class="custom-mid-padding-vertical toggle-label ion-padding-start">Sair</ion-label>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
