<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes do animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-page-invisible]="loading">
<div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
  <ion-img id="favorite"
           (click)="favorite(animal, favAnimal)"
           [src]="'./assets/favorite-button-blue-'+(favAnimal?'on':'off')+'.svg'"
           class="clickable"></ion-img>
  <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
    <ion-label class="object-name">{{animal?.get('name')}}</ion-label>
  </ion-row>
  <ion-row class="infos vertical-align-content ion-padding-start">
    <ion-img src="assets/pin.svg"></ion-img>
    <ion-label>{{animal?.get('location')}}</ion-label>
  </ion-row>
  <ion-row class="infos vertical-align-content ion-padding-start">
    <ion-img src="assets/calendar.svg"></ion-img>
    <ion-label>Registrado em {{animal?.get('createdAt')?.getDate()}}/{{animal?.get('createdAt')?.getMonth() < 10 ? '0' + animal?.get('createdAt')?.getMonth() : animal?.get('createdAt')?.getMonth()}}/{{animal?.get('createdAt')?.getFullYear()}}</ion-label>
  </ion-row>

  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-label class="tag">Espécie</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="ion-padding-horizontal">{{animal?.get('animalType').get('name')}}</ion-label>
  </ion-row>

  <!--<ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-label class="tag">Classe</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="ion-padding-horizontal">{{objClass?.get('name')}}</ion-label>
  </ion-row> !-->

  <ion-row *ngIf="animal?.get('description')" class="ion-padding-horizontal ion-padding-top">
    <ion-label class="tag">Descrição</ion-label>
  </ion-row>

  <ion-row *ngIf="animal?.get('description')">
    <ion-label class="ion-padding-horizontal">{{animal?.get('description')}}</ion-label>
  </ion-row>
</div>
</ion-content>
