<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="modal.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
<ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
 </ion-row>

<ion-row [formGroup]="form" class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Nome</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-input id="name" formControlName="name" maxlength="300" placeholder="Nome do animal"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row class="custom-double-padding-horizontal custom-double-margin-top">
    <ion-label>Classe</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-label [hidden]="true">Classe</ion-label>
      <ion-select [(ngModel)]="animalClass" (ionChange)="getAnimals()" interface="popover" class="ion-no-padding" id="gender" placeholder="Selecione um gênero">
        <ion-label>Classe</ion-label>
        <ion-select-option *ngFor="let item of classes"
                           [value]="item">{{item?.get('name')}}</ion-select-option>
      </ion-select>
      <ion-img [src]="'./assets/arrow-down-2.svg'" class="arrow"></ion-img>
    </ion-item>
  </ion-row>

  <ion-row class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Animal</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-label [hidden]="true">Animal</ion-label>
      <ion-select [(ngModel)]="chosenAnimal" (ionChange)="disableButton = false" interface="popover" class="ion-no-padding" id="anima" placeholder="Escolha o animal">
        <ion-label>Animal</ion-label>
        <ion-select-option *ngFor="let item of animals"
                           [value]="item">{{item?.get('name')}}</ion-select-option>
      </ion-select>
      <ion-img [src]="'./assets/arrow-down-2.svg'" class="arrow"></ion-img>
    </ion-item>
  </ion-row>

  <ion-row [formGroup]="form" class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Descrição</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-input id="description" formControlName="description" maxlength="500" placeholder="Descreva o animal (opcional)"></ion-input>
    </ion-item>
  </ion-row>


  <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
    <ion-col class="ion-no-padding">
      <ion-button id="add-animal" (click)="addAnimal()" [disabled]="disableButton || !form.valid" class="default-btn" color="primary" expand="block">
        Adicionar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
