<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="modalCtrl.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
    <ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
     </ion-row>

  <div [formGroup]="form">
    <ion-row  class="custom-double-padding-horizontal ion-padding-top">
      <ion-label>Nome</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-input id="name" formControlName="name" maxlength="300" placeholder="Nome"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="custom-double-padding-horizontal ion-padding-top">
      <ion-label>Descrição</ion-label>
      <ion-item class="fields select-info ion-margin-top" lines="none">
        <ion-input id="description" formControlName="description" maxlength="500" placeholder="Descrição (opcional)"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
      <ion-col class="ion-no-padding">
        <ion-button id="add-custom" (click)="add()" [disabled]="isLoading || !form.valid" class="default-btn" color="primary" expand="block">
          Adicionar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
