<ion-header>
  <ion-toolbar class="linear-background">
    <ion-title class="header-title">Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-empty *ngIf="!parse.currentUser || !animals.length && !reliefs.length && !bugs.length && !buildings.length && !trees.length && !custom.length" [title]="'Você não tem registros de objetos ainda'"
             [subtitle]="'Registre um objeto no ambiente para ter registros'"></app-empty>

  <div  *ngIf="animals.length > 0" class="ion-padding-horizontal ion-padding-top">
    <ion-label class="tag">Animais</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let animal of animals">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{animal?.get('name')}} em {{animal?.get('createdAt')?.getDate()}}/{{animal?.get('createdAt')?.getMonth() < 10 ? '0' + animal?.get('createdAt')?.getMonth() : animal?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div *ngIf="reliefs.length > 0" class="ion-padding-horizontal">
    <ion-label class="tag">Relevo</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let relief of reliefs">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{relief?.get('name')}} em {{relief?.get('createdAt')?.getDate()}}/{{relief?.get('createdAt')?.getMonth() < 10 ? '0' + relief?.get('createdAt')?.getMonth() : relief?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div *ngIf="bugs.length > 0" class="ion-padding-horizontal">
    <ion-label class="tag">Insetos</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let bug of bugs">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{bug?.get('name')}} em {{bug?.get('createdAt')?.getDate()}}/{{bug?.get('createdAt')?.getMonth() < 10 ? '0' + bug?.get('createdAt')?.getMonth() : bug?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div  *ngIf="buildings.length > 0" class="ion-padding-horizontal">
    <ion-label class="tag">Edifícios</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let build of buildings">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{build?.get('name')}} em {{build?.get('createdAt')?.getDate()}}/{{build?.get('createdAt')?.getMonth() < 10 ? '0' + build?.get('createdAt')?.getMonth() : build?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div  *ngIf="trees.length > 0" class="ion-padding-horizontal">
    <ion-label class="tag">Árvores</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let tree of trees">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{tree?.get('name')}} em {{tree?.get('createdAt')?.getDate()}}/{{tree?.get('createdAt')?.getMonth() < 10 ? '0' + tree?.get('createdAt')?.getMonth() : tree?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div *ngIf="custom.length > 0" class="ion-padding-horizontal">
    <ion-label class="tag">Personalizados</ion-label>
    <div class="ion-padding-top">
      <div *ngFor="let c of custom">
        <ion-row class="infos vertical-align-content ion-padding-start ion-padding-bottom">
          <ion-col class="ion-no-padding ion-no-margin" size="1">
            <ion-img src="assets/calendar.svg"></ion-img>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="date">Você adicionou {{c?.get('name')}} em {{c?.get('createdAt')?.getDate()}}/{{c?.get('createdAt')?.getMonth() < 10 ? '0' + c?.get('createdAt')?.getMonth() : c?.get('createdAt')?.getMonth()}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
