<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons (click)="ngOnInit()" slot="end">
      <ion-icon class="refresh" name="refresh-outline"></ion-icon>
  </ion-buttons>
    <ion-title class="header-title">Ambiente Social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <div
      *ngFor="let object of objects; let i = index"
      class="custom-double-margin-top custom-double-padding-horizontal"
    >
      <ion-item (click)="object?.get('type') == 12 ? animalDetail(object.id) : (
        object?.get('type') == 13 ? reliefDetail(object.id) : (
          object?.get('type') == 14 ? treeDetail(object.id) : (
            object?.get('type') == 15 ? buildDetail(object.id) : (
              object?.get('type') == 16 ? bugDetail(object.id) : customDetail(object.id)
            )
          )
        )
      )">
        <ion-row class="ion-align-items-center" style="justify-content: end">
          <ion-col size="2">
            <ion-img
              [src]="object?.get('type') == 0 ? './assets/tree.svg' : (
                        object?.get('type') == 1 ? './assets/mountain.svg' : (
                          object?.get('type') == 2 ? './assets/bugs.svg' : (
                            object?.get('type') == 3 ? './assets/storm.svg' : (
                              object?.get('type') == 4 ? './assets/leaf.svg' : (
                                object?.get('type') == 5 ? './assets/flower.svg' : (
                                  object?.get('type') == 6 ? './assets/hike.svg' : (
                                    object?.get('type') == 7 ? './assets/waterfall.svg' : (
                                      object?.get('type') == 8 ? './assets/river.svg' : (
                                        object?.get('type') == 9 ? './assets/building.svg' : (
                                          object?.get('type') == 10 ? './assets/fish.svg' : (
                                            object?.get('type') == 11 ? './assets/home.svg' : (
                                                object?.get('type') == 12 ? './assets/paws.svg' : (
                                                    object?.get('type') == 13 ? './assets/mountain.svg' : (
                                                        object?.get('type') == 14 ? './assets/tree.svg' : (
                                                            object?.get('type') == 15 ? './assets/building.svg' : (
                                                                object?.get('type') == 16 ? './assets/bugs.svg' : ''
                                                            )
                                                        )
                                                    )
                                                )
                                            )
                                          )
                                        )
                                      )
                                    )
                                  )
                                )
                              )
                            )
                          )
                        )
                      )"
              class="custom-icon ion-no-padding ion-no-margin"
            ></ion-img>
          </ion-col>
          <ion-col class="middle-col" col-auto>
            <ion-row class="vertical-align-content ion-padding-start">
              <ion-label
                >{{object?.get('user')?.get('name').split(" ")[0]}} registrou
                {{object?.get('name')}}
              </ion-label>
            </ion-row>
            <ion-row class="infos vertical-align-content ion-padding-start">
              <ion-img src="assets/pin.svg"></ion-img>
              <ion-label>{{object?.get('location')}}</ion-label>
            </ion-row>
            <ion-row class="infos vertical-align-content ion-padding-start">
              <ion-img src="assets/calendar.svg"></ion-img>
              <ion-label
                >{{object?.get('createdAt')?.getDate()}}/{{object?.get('createdAt')?.getMonth()
                < 10 ? '0' + object?.get('createdAt')?.getMonth() :
                object?.get('createdAt')?.getMonth()}}/{{object?.get('createdAt')?.getFullYear()}}</ion-label
              >
            </ion-row>
          </ion-col>
          <ion-col class="last-col">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </div>
</ion-content>
