ion-row {
  background-image: url("../../../assets/forbidden.svg");
  background-repeat: no-repeat;
  background-position: center;

  .not-found-title {
    font-size: 14px;
    line-height: 16px;
    color: #B00020;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 0;
  }

  .not-found-subtitle {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(176, 0, 32, 0.5);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}
