ion-img.element-icon {
    width: 15% !important;
    height: 15% !important;
    margin: 0 16px;
  
  }

  .selected {
    fill: red;
    stroke: blue;
  }

  ion-row.icons {
      margin-top: 32px;
      display: flex;
      justify-content: center;
  }
  .custom-grid {
    display: flex;
    flex-flow: column;
  }

  .taken {
      width: 30%;
      height: 30%;
  }