<ion-header id="header">
  <ion-toolbar class="toolbar-with-back-button linear-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="this.modalCtrl.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Adicionar categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
  <ion-row [formGroup]="form" class="custom-double-padding-horizontal ion-padding-top">
    <ion-label>Nome</ion-label>
    <ion-item class="fields select-info ion-margin-top" lines="none">
      <ion-input formControlName="name" maxlength="300" placeholder="Digite o nome da categoria"></ion-input>
    </ion-item>
    </ion-row>
</form>

<ion-grid class="custom-grid custom-double-padding-top">
  <ion-label class="custom-double-padding-left">Ícone</ion-label>
  <ion-row class="ion-align-items-center icons">
        <ion-img (click)="toggleIcon(0)" [src]="index == 0 ? './assets/blue-tree.svg' :'./assets/tree.svg'" class="element-icon"></ion-img>
       <ion-img (click)="toggleIcon(1)" [src]="index == 1 ? './assets/blue-mountain.svg' : './assets/mountain.svg'" class="element-icon"></ion-img>
      <ion-img (click)="toggleIcon(2)" [src]="index == 2 ? './assets/blue-bugs.svg' : './assets/bugs.svg'" class="element-icon"></ion-img>
      <ion-img (click)="toggleIcon(3)" [src]="index == 3 ? './assets/blue-paws.svg' :'./assets/paws.svg'" class="element-icon"></ion-img>
  </ion-row>
  <ion-row class="ion-align-items-center ion-padding-top icons">
    <ion-img (click)="toggleIcon(4)" [src]="index == 4 ? './assets/blue-leaf.svg':'./assets/leaf.svg'" class="element-icon"></ion-img>
   <ion-img (click)="toggleIcon(5)" [src]="index == 5 ? './assets/blue-flower.svg' : './assets/flower.svg'" class="element-icon"></ion-img>
  <ion-img (click)="toggleIcon(6)" [src]="index == 6 ? './assets/blue-hike.svg': './assets/hike.svg'" class="element-icon"></ion-img>
  <ion-img (click)="toggleIcon(7)" [src]="index == 7 ? './assets/blue-waterfall.svg' : './assets/waterfall.svg'" class="element-icon"></ion-img>
</ion-row>
<ion-row class="ion-align-items-center ion-padding-top icons">
  <ion-img (click)="toggleIcon(8)" [src]="index == 8 ? './assets/blue-river.svg' :'./assets/river.svg'" class="element-icon"></ion-img>
 <ion-img (click)="toggleIcon(9)" [src]="index == 9 ? './assets/blue-building.svg' :'./assets/building.svg'" class="element-icon"></ion-img>
<ion-img (click)="toggleIcon(10)" [src]="index == 10 ? './assets/blue-fish.svg' : './assets/fish.svg'" class="element-icon"></ion-img>
<ion-img (click)="toggleIcon(11)" [src]="index == 11 ? './assets/blue-home.svg' : './assets/home.svg'" class="element-icon"></ion-img>
</ion-row>
</ion-grid>

<ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
  <ion-col class="ion-no-padding">
    <ion-button (click)="addCustomCategory()" [disabled]="isLoading || !form.valid" class="default-btn" color="primary" expand="block">
      Adicionar
    </ion-button>
  </ion-col>
</ion-row>
</ion-content>
