/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://db.onlinewebfonts.com/c/cc84650569fd07dac022c55b20c66e46?family=Futura+Bk+BT');

* {
  font-family: "Futura Bk BT", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

ion-toolbar {
  .header-title {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #FFFFFF;
  }
}

.linear-background {
  --background: rgb(65,179,219);
  --background: linear-gradient(90deg, rgba(65,179,219,1) 0%, rgba(65,179,219,1) 35%, rgba(65,179,219,1) 100%);

  background: rgb(65,179,219);
  background: linear-gradient(90deg, rgba(65,179,219,1) 0%, rgba(65,179,219,1) 35%, rgba(65,179,219,1) 100%);
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-double-padding-vertical,
.custom-double-padding-top {
  padding-top: 32px;
}

.custom-double-padding-vertical,
.custom-double-padding-bottom {
  padding-bottom: 32px;
}

.custom-double-padding-horizontal,
.custom-double-padding-left {
  padding-left: 32px;
}

.custom-double-padding-horizontal,
.custom-double-padding-right {
  padding-right: 32px;
}

.button-shape {
  --border-radius: 51px;
}

.error-message {
  font-size: 15px;
  color: #b00020;
}

.login-fields {
  margin-bottom: 2vh;
  padding: 0 8vw;
}


.default-btn {
  box-sizing: border-box;
  --border-radius: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  margin: 5px auto;
  width: 100%;
  height: 12vw;
}

.header {
  font-size: 18px;
  line-height: 22px;
  color: var(--ion-color-primary);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.toolbar-with-back-button {
  .header-title.md {
    //font-style: normal;
    //line-height: 21px;
    //margin-top: -0.1rem;
    margin-left: -5vw;
  }
}

ion-header {

  ion-toolbar {
    text-overflow: inherit !important;
    white-space: normal !important;
    --background: var(--ion-color-primary);
    //--background: radial-gradient(174.01% 624.52% at 100% 15%, #FFC700 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FF9009, #FF9009), #FF9009;
  }

  img {
    pointer-events: none;
  }
}

.fields {
  --ion-background-color: #F4F3F3;
  --border-radius: 0.1rem;
  position: relative;
  float: left;
  width: 100%;
}

ion-footer {
  //--ion-background-color: #FFFFFF;
  //background: #FFFFFF;

  ion-toolbar {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
  }
}

ion-footer ion-toolbar .default-btn {
  margin-bottom: 16px;
}

ion-loading.custom-load {
  .loading-wrapper {
    padding: 0;
    max-width: unset !important;
    background: transparent;
    box-shadow: none;
    width: 70px;
    height: 70px;
    border-radius: 100% !important;
    max-height: 70px;
    background: url('assets/loading.gif') center no-repeat;
  }
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://db.onlinewebfonts.com/c/cc84650569fd07dac022c55b20c66e46?family=Futura+Bk+BT');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  font-family: "Futura Bk BT", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

//body {
//  padding-bottom: constant(safe-area-inset-bottom);
//  padding-bottom: env(safe-area-inset-bottom);
//}

ion-back-button {
  color: white !important;
}

ion-back-button.ios {
  padding: 0 8px;
}

ion-back-button button {
  padding-right: 16px !important;
}

.ios ion-title {
  padding: 0;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.ios .toolbar-title {
  text-overflow: inherit;
  white-space: normal;
}

.toolbar-with-back-button {
  .header-title.md {
    //font-style: normal;
    //line-height: 21px;
    //margin-top: -0.1rem;
    margin-left: -5vw;
  }
}

.default-btn {
  box-sizing: border-box;
  border-radius: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 5px auto;
  width: 100%;
  height: 12vw;
}

ion-footer {
  //--ion-background-color: #FFFFFF;
  //background: #FFFFFF;

  ion-toolbar {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
  }
}

ion-footer.orange-footer {
  ion-toolbar {
    --background: var(--ion-color-primary) !important;
  }

  ion-label {
    color: #FFFFFF;
  }
}

ion-header {

  ion-toolbar {
    text-overflow: inherit !important;
    white-space: normal !important;
    --background: var(--ion-color-primary);
    //--background: radial-gradient(174.01% 624.52% at 100% 15%, #FFC700 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FF9009, #FF9009), #FF9009;
  }

  img {
    pointer-events: none;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.toggle-label {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}

.fields {
  --ion-background-color: #F4F3F3;
  --border-radius: 0.1rem;
  position: relative;
  float: left;
  width: 100%;
}

.avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
}

.ion-page-invisible {
  opacity: 0;
}

.buy-button {
  color: white;
  --border-radius: 0.4rem;
  height: 45px;
  width: 80vw;
  font-weight: bold;
  margin: 0 auto;
  font-size: 12px;
}

.mic {
  margin: auto 6vw auto 0;
  height: 25px;
  position: absolute;
  right: 0;
  z-index: 50000;
}

ion-searchbar {
  margin-left: 10px;
}

.searchbar-input {
  background: #FFFFFF !important;
  border-radius: 40px !important;
  height: 43px !important;
  max-width: 85%;
  font-size: 0.9em !important;
  border: 1px solid transparent;

}

.searchbar-input.sc-ion-searchbar-md {
  color: #000000;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  --placeholder-opacity: 1;
  --icon-opacity: 1;
}

.camera {
  z-index: 50000;
}

.clickable:hover {
  cursor: pointer;
}

.clickable:active {
  opacity: .5;
}

.editing {
  color: #2F4A62;
  font-weight: bold;
}

.address-list {
  width: 100%;
  --ion-background-color: #f0f0f0;
  border-radius: 3vw;
  margin-bottom: 5px;
  margin-top: 20px;

  p {
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 0;
    border-bottom: 1px solid var(--ion-color-text-dark);
  }

  p:last-child {
    border-bottom: 0;
  }
}

.no-inner-padding {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-datetime {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  --placeholder-color: rgba(0, 0, 0, 0.6);
  --placeholder-opacity: 1;
  padding: 0;
}

.custom-message {
  padding-left: 8vw;
}

.error-message {
  font-size: 10px;
  color: #b00020;
}

.confirm-delete {
  span {
    color: var(--ion-color-danger);
    font-weight: bold;
  }
}

.custom-double-padding-vertical,
.custom-double-padding-top {
  padding-top: 32px;
}

.custom-double-padding-vertical,
.custom-double-padding-bottom {
  padding-bottom: 32px;
}

.custom-double-padding-horizontal,
.custom-double-padding-left {
  padding-left: 32px;
}

.custom-double-padding-horizontal,
.custom-double-padding-right {
  padding-right: 32px;
}

.custom-double-margin-horizontal,
.custom-double-margin-left {
  margin-left: 16px;
}

.custom-double-margin-horizontal,
.custom-double-margin-right {
  margin-right: 16px;
}

.custom-mid-padding-vertical,
.custom-mid-padding-top {
  padding-top: 8px;
}

.custom-mid-padding-vertical,
.custom-mid-padding-bottom {
  padding-bottom: 8px;
}

.custom-mid-padding-horizontal,
.custom-mid-padding-left {
  padding-left: 8px;
}

.custom-mid-padding-horizontal,
.custom-mid-padding-right {
  padding-right: 8px;
}

.dl-margin-center-vertical {
  margin: auto 0;
}

.divider-top {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

.divider-bottom {
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
}

ion-label.soon-message,
ion-label.payment {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

#explore.ios {
  padding: 0;

  .searchbar-input {
    height: 100% !important;
  }
}

#explore .searchbar-input {
  max-width: 100%;
  margin: 0 auto;
  font-size: 15px !important;
}

.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

ion-tab-button.tab-selected {
  svg-icon {
    svg path {
      fill: var(--ion-color-primary) !important;
      fill-opacity: 1;
    }
  }
}

ion-segment-button.segment-button-checked {
  background: var(--ion-color-primary);
  --background: var(--ion-color-primary);
  --indicator-color-checked: var(--ion-color-primary) !important;
  --indicator-color: var(--ion-color-primary) !important;

  button {
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
  }
}

.active-svg {
  svg path {
    fill: var(--ion-color-primary);
    fill-opacity: 1;
  }
}

.custom-width {
  min-width: 160px;
  max-width: 160px;
}

.edit-member {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  .active {
    svg path {
      fill: #9C27B0;
      fill-opacity: 1;
    }
  }
}

.off-svg {
  svg path {
    fill: var(--ion-color-medium) !important;
    fill-opacity: 1;
  }
}

.pin-3 {
  svg {
    width: 10px;
    height: 13.1px;
    margin-left: 1px;
  }
}

.pin-3-blue {
  svg {
    width: 10px;
    height: 13.1px;
    margin-left: 1px;
  }

  svg path {
    fill: #002338;
    fill-opacity: 1;
  }
}

.pin-2 {
  svg {
    width: 12px;
    height: 16px;
  }

  svg path {
    fill: #ff9009 !important;
    fill-opacity: 1;
  }
}

.location-pin {
  svg {
    width: 9px;
    height: 12px;
    margin-top: 1vh;
  }

  svg path {
    fill: #002338;
    fill-opacity: 1;
  }
}

.pin-1 {
  svg {
    width: 9px;
    height: 12px;
  }

  svg path {
    fill: #000000;
    fill-opacity: 1;
  }
}

.icon-pattern {
  svg {
    width: 12px !important;
    height: 14.1px !important;
  }
}

.icon-pattern-blue {
  svg {
    max-width: 12px !important;
    max-height: 14.1px !important;
  }

  svg path {
    fill: #002338;
    fill-opacity: 1;
  }
}

.svg-blue svg path {
  fill: #002338;
  fill-opacity: 1;
}

.calendar-2 {
  svg {
    width: 7px;
    height: 8px;
  }
}

.infos {
  ion-row, ion-item{
    display: block;
  }

  ion-label {
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
    padding: 0 2vw;
  }
}

.new {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: #51D73B !important;
  cursor: pointer;
}

ion-footer#continue {
  height: auto !important;

  ion-toolbar {
    --background: var(--ion-color-primary) !important;
  }

  ion-label {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}

ion-select {
  margin-right: -5vw !important;
}

.select-info {
  ion-select, ion-select-option {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    max-width: 110%;
    width: 110%;
    padding: 0;
    --placeholder-color: rgba(0, 0, 0, 0.6) !important;
    --placeholder-opacity: 1 !important;
  }

  .arrow {
    margin: auto 8vw auto 0;
    height: 10px;
    position: absolute;
    right: 0;
  }
}

h1#title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.holder {
  text-align: left;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2F4A62;
  margin-bottom: 0;
}

.holder-tickets {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2F4A62;
  margin-top: 5px;

}

.event-name {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.header {
  font-size: 18px;
  line-height: 22px;
  color: var(--ion-color-primary);
}

.fares-info {
  background: #FAFAFA;
}

.vertical-align {
  margin-top: -10px !important;
}

ion-label.fares, ion-label.card-info {
  font-size: 12px;
  line-height: 14px;
  color: #2F4A62;
}

.custom-padding-top {
  padding-top: 8px;
}

.custom-padding-bottom {
  padding-bottom: 8px;
}

.custom-padding-horizontal {
  padding: 0 16px;
}

.col-align-right {
  text-align: right;
}

p#purchase-sucess {
  font-size: 20px;
  line-height: 24px;
  color: #2F4A62;
  margin-bottom: 10px;
}

p#purchase-tips {
  margin-top: 0;
  font-size: 12px;
  line-height: 14px;
  color: #AAAAAA;


}

ion-button#finish-purchase {
  width: 150px;
  border-radius: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.purchase-info {
  height: 100%;
  display: flex;
  align-items: center;

}

.popover {
  margin: 0;

  ion-item {
    --min-height: 30px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 0 8px;
    padding: 0.5vw;
  }

  ion-item#danger {
    color: #b00020 !important;
  }
}

#radar,
#filter {
  svg:not(:root) {
    margin: 0 auto !important;
  }
}

.custom-double-margin-top {
  margin-top: 32px;
}

ion-label#location {
  font-size: 14px;
  line-height: 16px;
  padding: 0 2vw;
}

.vertical-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.alert-danger, .alert-ok-button {

  .alert-wrapper {
    max-width: 90vw;
  }

  .alert-button-group {
    display: inline-flex;
    justify-content: center;
    padding: 0 0 16px;
  }

  .alert-button {
    width: 20vw;
    padding: 3vw;
    margin: 0 16px;
    background: #AAAAAA !important;

    .alert-button-inner {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 12px;
      font-weight: normal;
      display: flex;
      justify-content: center;
    }
  }

  .confirm-delete {
    background: #b00020 !important;
  }

  .alert-head {
    background: var(--ion-color-primary);

    .alert-title {
      text-align: center;
      color: #FFFFFF;
    }
  }

  .alert-message {
    color: #000000;
    text-align: center;
    padding: 16px !important;
  }
}
.tag {
  color: #41b3db;
  font-weight: bold;
}
.favorite {
  svg path {
    fill: #41B3DB;
    fill-opacity: 1;
  }
}

#favorite {
  //position: fixed;
  margin-top: -10vw;
  margin-left: calc(50% - 10vw);
  width: 20vw;

  height: 20vw;
  z-index: 999;
}

.alert-ok-button {
  .alert-button {
    background: var(--ion-color-success) !important;
  }
}

.pattern {
  width: auto;
  height: auto;
}

.qrcode > canvas,
.qrcode {
  width: 100vw !important;
  height: 100vw !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: block;
}

ion-input, ion-select {
  height: 56px;
}

.verified {
  width: 18px;
  height: 18px;
  margin: 8px 0 0 4px;
}

.location-info {
  position: fixed;
  right: 0;
  bottom: 0;

  ion-col {
    display: flex;
  }
}

ion-footer ion-toolbar .default-btn {
  margin-bottom: 16px;
}

//.footer-links,
//ion-footer ion-toolbar,
//ion-tab-bar {
//  padding-bottom: constant(safe-area-inset-bottom) !important;
//  padding-bottom: env(safe-area-inset-bottom) !important;
//}

ion-tab-bar {
  background-color: #fff;
}

.item-interactive {
  --highlight-background: unset;
}

//ion-loading.custom-load {
//  .loading-wrapper {
//    padding: 0;
//    max-width: unset !important;
//    background: transparent;
//    box-shadow: none;
//    width: 70px;
//    height: 70px;
//    border-radius: 100% !important;
//    max-height: 70px;
//    background: url('assets/official-images/loading.gif') center no-repeat;
//  }
//}

.ticket-unavailable {
  border-left-color: var(--ion-color-warning) !important;
}




.object-name {
  font-size: 30px;
}
