<ion-header id="header">
    <ion-toolbar class="toolbar-with-back-button linear-background">
        <ion-buttons slot="start">
            <ion-back-button (click)="modal.dismiss()" color="light" defaultHref="/tabs/tab1" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title">Adicionar árvore</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
        <ion-img [class.ion-page-invisible]="!addedPhoto" [src]="'data:image/jpeg;base64,' + addedPhoto"></ion-img>
         </ion-row>

    <form [formGroup]="form">
        <div class="custom-double-padding-horizontal custom-double-margin-top">

            <ion-row class="ion-padding-top">
                <ion-label>Nome</ion-label>
                <ion-item class="fields select-info ion-margin-top" lines="none">
                    <ion-input formControlName="name" maxlength="300" placeholder="Nome da árvore"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row class="ion-padding-top">

                <ion-label class="ion-padding-top">Forma de copa</ion-label>
                <ion-item class="fields select-info ion-margin-top" lines="none">
                    <ion-label [hidden]="true">Forma de copa</ion-label>

                    <ion-input maxlength="300" formControlName="topShape"
                               placeholder="Descreva a forma da copa (opcional)"></ion-input>
                </ion-item>
            </ion-row>
        </div>

        <ion-row class="custom-double-padding-horizontal ion-padding-top">
            <ion-label>Forma de folha</ion-label>
            <ion-item class="fields select-info ion-margin-top" lines="none">
                <ion-label [hidden]="true">Forma de folha</ion-label>

                <ion-input maxlength="300" formControlName="leafShape"
                           placeholder="Descreva a forma de folha (opcional)"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="custom-double-padding-horizontal custom-double-margin-top">
            <ion-col class="ion-no-padding">
                <p id="foreign">Ávore frutífera</p>
            </ion-col>
            <ion-col class="ion-no-padding dl-margin-center-vertical">
                <ion-toggle formControlName="fruitful" class="ion-float-end" color="primary"></ion-toggle>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding custom-double-padding-top custom-double-padding-horizontal">
            <ion-col class="ion-no-padding">
                <ion-button (click)="addTree()" [disabled]="!form.valid || disableButton" class="default-btn"
                            color="primary" expand="block">
                    Adicionar
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
