<ion-header>
  <ion-toolbar class="linear-background">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalhes do edifício</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-page-invisible]="loading">
  <div class="custom-double-margin-horizontal custom-double-padding-vertical">
    <ion-row class="ion-align-items-center ion-margin-top ion-justify-content-center">
      <img [src]="addedPhoto"/>
    </ion-row>
    <ion-img id="favorite"
             (click)="favorite(building, favBuilding)"
             [src]="'./assets/favorite-button-blue-'+(favBuilding?'on':'off')+'.svg'"
             class="clickable"></ion-img>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
      <ion-label class="object-name">{{building?.get('name')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/pin.svg"></ion-img>
      <ion-label>{{building?.get('location')}}</ion-label>
    </ion-row>
    <ion-row class="infos vertical-align-content ion-padding-start">
      <ion-img src="assets/calendar.svg"></ion-img>
      <ion-label>Registrado em {{building?.get('createdAt')?.getDate()}}/{{building?.get('createdAt')?.getMonth() < 10 ? '0' + building?.get('createdAt')?.getMonth() : building?.get('createdAt')?.getMonth()}}/{{building?.get('createdAt')?.getFullYear()}}</ion-label>
    </ion-row>

    <ion-row *ngIf="building?.get('description')" class="ion-padding-horizontal ion-padding-top">
      <ion-label class="tag">Descrição</ion-label>
    </ion-row>
    <ion-row class="ion-padding-horizontal" *ngIf="building?.get('description')">
      <ion-label>{{building?.get('description')}}</ion-label>
    </ion-row>
  </div>
</ion-content>
