<ion-header>
  <ion-toolbar class="linear-background">
    <ion-title class="header-title">Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <app-empty *ngIf="!parse.currentUser || !favAnimals.length" [title]="'Você não tem objetos favoritos ainda'"
             [subtitle]="'Torne um objeto favorito clicando no coração na tela de detalhes'"></app-empty>

  <ion-grid *ngIf="favAnimals.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Animais</ion-label>
    </div>
    <ion-row *ngFor="let fav of favAnimals" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/animal-detail/{{fav?.id}}">
        <ion-avatar>
          <ion-img [src]="fav?.get('photo')?.url() !== null ?
                    fav?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/animal-detail/{{fav?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{fav?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
            <svg-icon src="assets/pin.svg"></svg-icon>
            <ion-label class="ellipsis">{{fav?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
            <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
            <ion-label>{{fav?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="favBuildings.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Edifícios</ion-label>
    </div>
    <ion-row *ngFor="let build of favBuildings" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/building-detail/{{build?.id}}">
        <ion-avatar>
          <ion-img [src]="build?.get('photo')?.url() !== null ?
                    build?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/building-detail/{{build?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{build?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
          <svg-icon src="assets/pin.svg"></svg-icon>
          <ion-label class="ellipsis">{{build?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
          <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
          <ion-label>{{build?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="favTrees.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Árvores</ion-label>
    </div>
    <ion-row *ngFor="let tree of favTrees" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/tree-detail/{{tree?.id}}">
        <ion-avatar>
          <ion-img [src]="tree?.get('photo')?.url() !== null ?
                    tree?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/tree-detail/{{tree?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{tree?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
          <svg-icon src="assets/pin.svg"></svg-icon>
          <ion-label class="ellipsis">{{tree?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
          <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
          <ion-label>{{tree?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="favReliefs.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Relevos</ion-label>
    </div>
    <ion-row *ngFor="let r of favReliefs" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/relief-detail/{{r?.id}}">
        <ion-avatar>
          <ion-img [src]="r?.get('photo')?.url() !== null ?
                    r?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/relief-detail/{{r?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{r?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
          <svg-icon src="assets/pin.svg"></svg-icon>
          <ion-label class="ellipsis">{{r?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
          <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
          <ion-label>{{r?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="favInsects.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Insetos</ion-label>
    </div>
    <ion-row *ngFor="let bg of favInsects" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/insect-detail/{{bg?.id}}">
        <ion-avatar>
          <ion-img [src]="bg?.get('photo')?.url() !== null ?
                    bg?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/insect-detail/{{bg?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{bg?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
          <svg-icon src="assets/pin.svg"></svg-icon>
          <ion-label class="ellipsis">{{bg?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
          <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
          <ion-label>{{bg?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="favCustoms.length" class="ion-no-padding ion-no-margin">
    <div class="ion-padding-horizontal ion-padding-top ">
      <ion-label class="tag">Personalizados</ion-label>
    </div>
    <ion-row *ngFor="let c of favCustoms" class="ion-activatable ion-padding-vertical divider-bottom">
      <ion-col class="event-avatar ion-text-center ion-no-padding ion-padding-start" size="3" routerLink="/custom-detail/{{c?.id}}">
        <ion-avatar>
          <ion-img [src]="c?.get('photo')?.url() !== null ?
                    c?.get('photo')?.url() : 'assets/no-banner.jpg'"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="7" style="outline: 0" routerLink="/custom-detail/{{c?.id}}">
        <ion-row>
          <ion-col style="padding-bottom: 0">
            <p class="name ion-no-margin ellipsis">{{c?.get('name')}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="infos vertical-align-content">
          <svg-icon src="assets/pin.svg"></svg-icon>
          <ion-label class="ellipsis">{{c?.get('location')}}</ion-label>
        </ion-row>

        <ion-row class="infos vertical-align-content">
          <svg-icon [src]="'./assets/calendar.svg'"></svg-icon>
          <ion-label>{{c?.get('createdAt') | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>

      <ion-col class="favorite heart-col" size="2">
        <svg-icon class="favorite" src="assets/favorite.svg"></svg-icon>
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>

</ion-content>
